<div class="hero container" id="skrollr-body">
  <img src="{{ site.url }}/assets/images/people.svg" alt="Queremos construir algo increíble contigo" class="people">
  <div class="box red" data-50="top:205px" data-600="top:0px"></div>
  <div class="box orange" data-0="top:140px" data-100="top:100px"></div>
  <div class="box yellow" data-180="top:440px" data-250="top:100px"></div>
  <div class="box green" data-150="top:375px" data-200="top:150px"></div>
  <div class="box blue" data-120="top:260px" data-300="top:0px"></div>
  <div class="box white" data-0="top:180px" data-300="top:-100px"></div>
  <div class="copy">Queremos construir algo increíble contigo</div>
</div>
